.cw-container {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.cw-top,
.cw-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cw-city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.cw-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.cw-icon {
  width: 100px;
}

.cw-temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.cw-details {
  width: 100%;
  padding-left: 20px;
}

.cw-parameter-row {
  display: flex;
  justify-content: space-between;
}

.cw-paramater-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.cw-paramater-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
