.cs-body {
  background-color: #131026;
  color: #fff;
  height: calc(100vh - 80px);
  padding: 30px 25px;
}

.cs-wrapper {
  background: url("/public/images/planet.png");
  height: 100%;
  background-position: bottom;
  border-radius: 30px;
  box-shadow: 1px 1px 25px 14px #2b2359;
  -webkit-box-shadow: 1px 1px 25px 14px #2b2359;
  -moz-box-shadow: 1px 1px 25px 14px #2b2359;
}

.cs-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 30px;
}

.cs-container label:first-child {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: 1px;
}

.cs-container label:nth-child(2) {
  font-size: 72px;
  letter-spacing: 10px;
}

@media (max-width: 1080px) {
  .cs-container {
    text-align: center;
  }
}
